body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3);
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
}

#header-container {
    width: 100%;
    grid-area: header;
}

main{
    width: 100%;
    grid-area: content;
}

#footer-container{
    width: 100%;
    grid-area: footer;
}

hr{
    width: 80%;
}

@media (min-width: 1300px) {
    main, #header-container, #footer-container {
        max-width: 1300px;
        margin: 0 auto;
    }
}