/* ===== Header mobile ===== */
.header {
  background: linear-gradient(180deg, #D7B899, #cfae8f);
  padding: 12px 20px;
  position: relative;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-toggle img {
  width: 26px;
  height: auto;
  cursor: pointer;
}

.logo a{
  text-decoration: none;
  color: black;
}

.logo a h1 {
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin: 0;
}

/* Menú mobile */
.menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #D7B899;
  width: 100%;
  padding: 20px 0;
  animation: slideDown 0.2s ease;
  z-index: 9999; /* Para que el menu oculte cualquier cosa que tenga debajo*/
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  text-align: center;
}

.menu a {
  display: block;
  margin: 10px auto;
  padding: 14px 20px;
  width: 80%;
  border-radius: 999px;
  text-decoration: none;
  color: #2b1a17;
  font-weight: 600;
  transition: background 0.15s ease, transform 0.1s ease;
}

.menu a:hover {
  background-color: #4B2E2B;
  color: #fff;
}

.menu-open {
  display: block;
}

/* Animación menú */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ===== Header Tablet ===== */
@media (min-width: 500px) {
  .menu-toggle {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: block;
    position: static;
    padding: 0;
    animation: none;
    background: transparent;
  }

  .menu ul {
    display: flex;
    gap: 16px;
  }

  .menu a {
    width: auto;
    padding: 10px 14px;
    border-radius: 999px;
  }

  .menu a:hover {
    background: #4B2E2B;
    color: #fff;
  }
}

/* ===== Header Desktop ===== */
@media (min-width: 1200px) {
  .logo h1 {
    font-size: 1.8rem;
  }
}