<header class="header">
    <div class="header-top">
        <div id="contenedor-icono-menu" class="menu-toggle">
            <img id="icono-menu" src="/img/icono-menu.png" alt="Abrir menú">
        </div>

        <div class="logo">
            <h1>Cacao Andino</h1>
        </div>
    </div>

    <nav id="menu" class="menu">
        <ul>
            <li><a href="/index.html">Inicio</a></li>
            <li><a href="/pages/productos.html">Productos</a></li>
            <li><a href="/pages/pasteleria.html">Pastelería</a></li>
            <li><a href="/pages/contacto.html">Contacto</a></li>
        </ul>
    </nav>
</header>